body
{
	background-image:url('Assets/whitepattern.jpg');
	background-repeat:repeat;
}

.wrap
{
	width:75%;
	height:100%;
	position:relative;
	margin: auto;
}

#textandbutton
{
	width:600px;
	height:40px;
	margin:0 auto;
	float:left;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,50%);
}

#thesearchbar
{
	margin:0 auto;
	float:left;
	overflow: hidden;
	padding:10px;
	border-radius:5px;
	height:20px;
	width:500px;
}


::input-placeholder
{
	font-family:monospace;
	font-size:12px;
}

::-webkit-input-placeholder
{
	font-family:monospace;
	font-size:12px;
}

:-moz-placeholder
{
	font-family:monospace;
	font-size:12px;
}

::-moz-placeholder
{
	font-family:monospace;
	font-size:12px;
}

:-ms-input-placeholder
{
	font-family:monospace;
	font-size:12px;
}

.thebutton
{
	background: url('Assets/searchbutton.png');
	float:left;
	padding:1px;
	height:42px;
	width: 42px;
	overflow: hidden;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
}

.content
{
	width:90%;
	float: left;
	margin-top:100px; //This is the key to positioning content below search bar with enough space
}

.item
{
height:8em;
clear: both;
overflow: hidden;
}

.itemheading
{
	font-family: sans-serif;
	font-size: 1em;
	color:#F57C00;
}

.itemheading a
{
	text-decoration: none;
	color:#F57C00;

}

.itemheading a:hover
{
	text-decoration: none;
	color:#EF6C00;	
}

.itemcontent
{
	font-family: sans-serif;
	color: black;
}

span.bolded
{
	color:#FF5100;
	font-weight: bold;
	text-decoration: underline;
}

#footer
{
	float: left;
	width:30%;
	position: absolute;
	left: 50%;
	height: 50px;
	transform:translate(-20%,100%);
}